{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1636145173408-cdca414270f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is who I am</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <h2>Summary</h2>
        <p class="text-justify">&emsp;&emsp;My name is Oleg, I am 23, I am Ukrainian, I live in Ukraine, and for the last 5 years I have been doing business here. At the beginning of 2022, I decided to direct my efforts to the IT sphere, and after russia's invasion of Ukraine, this decision became exact. I have no experience in IT, but I have the understanding and ability (Master of Computer Science) and desire to work.</p>
        <p class="text-justify">&emsp;&emsp;At the university, I studied different programming languages and different areas and aspects of IT. Now I have chosen to study Python. This choice is primarily due to the desire to start working and grow on real tasks as soon as possible. In addition, I like Python due to its simplicity, versatility, and wide application for automation (bots) and machine learning and data analysis.</p>
        <p class="text-justify">&emsp;&emsp;Therefore, first of all I am looking for a job as a Python Developer or Python Engineer. Also, I can work with data parsing using BeautifulSoup and Selenium. However, the programming language is only a tool, so I'm not limited to these options and can quickly learn to work using another languages - Java, C ++, C # JavaScript, Android, Swift etc.</p>
        <p class="text-justify">&emsp;&emsp;Today I also study the analysis, forecasting and visualization of data in Python so I also consider Data Analyst, Data Engineer, Data Scientist, ML Engineer positions.</p>
        <p class="text-justify">&emsp;&emsp;I repeat, in my opinion - programming language or libraries are just tools, I want to start working and learning as soon as possible and grow on real projects, so I will consider any options other than those described above.</p>
        <hr>

        <h2>Jobs I Apply</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">Python Developer</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Python Engineer</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Data Analyst</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Data Engineer</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Data Scientist</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">ML Engineer</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">And Any Others</li>
        </ul>
        <hr>

        <h2>IT Hard Skills</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">Python 3 - Flask, Jinja, SQLAlchemy, WTForms</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Git</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SQL - SQLite, PostgreSQL</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">HTML, CSS, Bootstrap</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">BeautifulSoup, Selenium.</li>
        </ul>
        <hr>

        <h2>Other Hard Skills</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">Targeting Advertising Facebook / Instagram</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Contextual Advertising Google</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Google Analytics</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SEO</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SMM (Instagram, Facebook)</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Copywriting</li>
        </ul>
        <hr>

        <h2>Soft Skills</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">Adaptability</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Communication</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Hard Work</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Leadership</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Critical Thinking</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Time Management</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Analysis</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Sense of Humor</li>
        </ul>
        <hr>

        <h2>Theoretical knowledge</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">OOD Principles</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SQL</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SCRUM</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">REST</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">SOLID</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">MVC</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">CI/CD</li>
        </ul>
        <hr>

        <!--Education-->
        <h2>Education</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">
            Master of Computer Science, specialty Informatics<br>
            <small>Uzhhorod National University, 2021.</small>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            Bachelor of Economics, specialty Economic Cybernetics<br>
            <small>Lviv Ivan Franko National University, 2020.</small>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
            Master of Finance, specialty Finance, Banking and Credit<br>
            <small>Uzhhorod National University, in progress, year of graduation - 2022.</small>
          </li>
        </ul>
        <br>

        <h3>Additional Courses</h3>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">
             Complex Internet Marketing<br>
            <small>Genius Marketing, 2019.</small>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">
             Android Basics Nanodegree<br>
            <small>Google, 2018.</small>
          </li>
        </ul>
        <br>

        <h3>Olympiads and Competitions</h3>
        <p class="text-justify">&emsp;&emsp;At the university for 1-2 years I participated in programming competitions. At school in 8-11 grades I regularly won prizes in regional competitions in mathematics, computer science, economics, physics, geography, astrology and participated in national competitions in mathematics and economics.</p>
        <hr>

        <!--Work Experience-->
        <h2>Work Experience</h2>
        <p class="text-justify">&emsp;&emsp;I have no experience in IT, but I have been working since 2017. I am doing business, e-commerce - we sell goods through our own website, social networks and marketplaces. Therefore, I have experience in internet marketing, namely: Targeting Advertising Facebook / Instagram, Contextual Advertising Google, Google Analytics, SEO, SMM (Instagram, Facebook).</p>
        <p class="text-justify">&emsp;&emsp;As well as experience in teamwork, people management, communication with suppliers, contractors, customers and clients. Also since 2017 I have been engaged in expert appraisal of real estate - apartments, houses, land, commercial, administrative and industrial real estate.</p>
        <hr>

        <h2>Languages</h2>
        <br>
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-action list-group-item-dark">
            English - Upper-Intermediate<br>
            <small>I fully understand by ear and when I read, but I can not always find the right words when I speak or write.</small>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Ukrainian - fluent</li>
          <li class="list-group-item list-group-item-action list-group-item-dark">Russian - fluent</li>
        </ul>
        <hr>

        <h2>Hobbies</h2>
        <p class="text-justify">&emsp;&emsp;In addition to programming and IT, I am interested in entrepreneurship and sales, economics and finance, crypto industry, management and administration, politics, sports - gym, crossfit, boxing, running, swimming</p>
        <hr>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}